.header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgrey;
}

.page-title {
    font-size:x-large;
    font-weight: bold;
}